kafkahost                      ""
kafkatopic_his_to_n3h          ""
kafkagroup_his_to_n3h          ""
kafkatopic_pacs_to_n3h         ""
kafkagroup_pacs_to_n3h         ""
kafkatopic_n3h_to_his_status   ""
kafkatopic_n3h_to_his_result   ""
guid                           ""
idlpu                          ""
hisid                          ""
performerid                    ""
debug                          "0"
datafolder                     ""
sftpurl                        ""
sftpuser                       ""
sftppassword                   ""
dicomanonymization             ""
pollinginterval                ""
orthanchost                    ""
firstrun_search                ""
timesync_correction            ""
