kafkahost                      ""
kafkatopic_ris_to_n3h          ""
kafkagroup_ris_to_n3h          ""
kafkatopic_n3h_to_ris_studies  ""
kafkatopic_n3h_to_ris_schedule ""
guid                           ""
idlpu                          ""
risid                          ""
requester                      ""
debug                          "0"
datafolder                     "/opt/n3hexchange/data"
sftpurl                        ""
sftpuser                       ""
sftppassword                   ""
pollinginterval                "60"
timesync_correction            ""
firstrun_search                "2021-08-01T00:00:00.00Z"
scheduleupdate                 "600"
pacshost                       ""
pacsport                       ""
pacsaet                        ""
myaet                          ""
